@media (max-width:450px) {
    .faqs{
        overflow: hidden;
        width: 26rem !important;
    }
     nav{
        gap: 2rem !important;
    }
    nav .logo{
        left: 20px;
    }
    nav .logo img{
       width: 40px; 
    }
    nav .logo p{
        left: 3rem;
        bottom: 9px;
    }
    nav .icon{
        left: 14rem;
    }
    nav .more{
        display: none;
    }
    nav .anime, .expand{
        display: none;
    }
    nav .menuicon{
        display: block;
        position: absolute;
        top: 20px;
        left: -10px;
    }
    nav .icon .menui{
        display: block;
        width: 40px;
        height: 30px;
    }
    nav .menuicon:hover .options{
        display: block;
        top: 1.5rem;
        z-index: 999;
    }
    nav .menuicon a{
        text-decoration: none;
        color:  #00c503;
        padding: 10px;
        display: block;
    }
    nav .menuicon a:hover{
        color: #fff;
        background-color:  #00c503;
    }
    nav .notification .dropdown{
        left: -14rem;
        width: 18rem;
        top: 2rem;
        z-index: 999;
    }
    section{
        margin-top: 6rem;
        margin-inline: 1rem;
    }
    section .pics{
        display: none;
    }
    section .content{
        width: 100%;
        height: 47rem;
        margin-bottom: 5px;
    }
    section h3{
        font-size: 16px;   
        background-color: green;
        color: #fff;
        padding: 10px;
        margin-bottom: 1rem;
    }
    section .big-question{
        display: none;
    }
    section .medcheck{
        font-size: 15px;
         margin-left: 25px;
    }
    section .medcheck p{
        width: 250px;
    }
    article{
        display: block;
        margin-left: 1rem;
        border-radius: 20px;
        width: 93%;
        height: 15rem;
        margin-bottom: 5rem;
    }
    article p{
        font-size: 27px;
        width: 20rem;
        margin-block: 10px;
    }
    article button{
        width: 69%;
        padding: 19px;
        margin-bottom: 4rem;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 10px #00c503;
        background-color: #fff;
    }
    article button a{
        text-decoration: none;
        color: #00c503;
        font-size: 18px;
    }
    article button:hover,
    article button a:hover{
        background-color: #c9f3c9;
        color: #495749;
    }
    
    footer{
     height: 79rem;
    }
    footer .medlogo{
        left: 2rem;
        border: none;
        margin-bottom: 3rem;
    }
    footer .medlogo h3{
        font-size: 30px;
        border: none;
    }
    footer .explore{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    footer .service{
        order: 1;
    }
    footer .more{
    order: 2;
    } 
    footer .form{
     order: 4;
    } 
    footer .help{
     order: 3;
    }
    footer .subscribe{
        margin: 2rem 0px 1rem 0px;
        width: 8rem;
    } 
    footer .mail{
        display: flex;
        gap: 10px;
    }
    footer button{
        height: 70px;
        width: 5rem;
    }
    footer label{
        position: relative;
        top: 1rem;
    }
    footer .terms{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 20px;
        width: 100%;
    }
    footer .social{
        order: 1;
        margin-block: 30px;
        font-size: 25px;
    }
    footer .condition{
        order: 2;
    }
}

@media (max-width:390px) {
    nav .icon{
        left: 12rem;
    }
    article{
      width: 90%;  
    }
    article p{
        font-size: 25px;
        width: 19rem; 
        margin-block: 10px;
        margin-left: -10px;
    }
    article button a{
        font-size: 15px;
    }
    footer .medlogo h3{
        font-size: 25px;
        top: 4px;
    }
    footer .form, .service, .more, .help{
    font-size: 18px !important;
    }
    footer .mail{
        width: 320px;
    }
    footer button{
        width: 8rem;
    }
    footer .terms{
        font-size: 15px;
    }
    footer .privacy{
    position: relative;
    left: 2rem;
    }
    footer .rights{
        font-size: 20px;
        width: 80%;
        margin-left: 2rem;
    }
}

@media (max-width:360px) {
    nav .icon{
        left: 14rem !important;
    }
    nav .notification .dropdown{
        left: -10rem;
    }
    article{
        width: 94%;
        height: 13rem;
    }
     article p{
        font-size: 23px;
        width: 19rem; 
    }
    article button{
        padding: 22px;
    }
    footer .mail{
        width: 310px;
    }
    footer .form, .service, .more, .help{
    font-size: 16px !important;
    }
    footer .privacy{
    position: relative;
    left: 1rem;
    }
}