@media (max-width:900px) {
.faqs{
     overflow-x: hidden;
     width: 90rem;
}
    nav{
    padding-top: 30px;
    display: flex;
    gap: 10rem;
}
nav .more ul{
    list-style: none;
    height: 3rem;
     padding: 10px;
     margin-left: 17rem;
     font-size: 18px;
     width: 80%;
     justify-content: center;
}
nav .icon{
    left: 18rem;
}
section .pics{
    margin-left: -2rem;
}
}