@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #005f00;
  --lighter-green: #00c503;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "DM Sans", sans-serif;
}
button {
  background: transparent;
  border: none;
}
nav {
  display: flex;
  align-items: center;
}
nav a,
.nav-btn {
  color: var(--lighter-green);
  text-decoration: none;
  font-size: 18px;
  margin: 0.5rem;
}
.nav-btn:hover,
nav a:hover {
  background: var(--main-color);
  color: var(--white-color);
  padding: 0.7rem;
  border-radius: 5px;
}
.service-content a,
.more-content a {
  display: block;
}
.service-content,
.more-content {
  position: absolute;
  display: none;
  min-width: 200px;
  background: var(--white-color);
}
.service-dropdown:hover .service-content,
.more-dropdown:hover .more-content {
  display: block;
}
.service-content a:hover,
.more-content a:hover {
  background: #00ab00;
  color: var(--white-color);
  padding: 5px;
  border-radius: 0px;
}
.header {
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo-icon {
  width: 40px;
  height: 32px;
}
.logo-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.medcheck {
  font-size: 18px;
  letter-spacing: -0.03em;
  line-height: 24px;
  font-weight: 500;
  color: #1a1a1a;
  text-align: left;
}
.nav2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.dropdown,
.hamburger,
.more-dropdown,
.service-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown img:nth-of-type(2) {
  position: absolute;
  top: 9px;
  left: 21px;
}
.dropdown img:nth-of-type(1) {
  border: 1.5px solid #e0e0e0;
  border-radius: 50px;
  padding: 3px;
}
.dropdown img {
  cursor: pointer;
}
/* Dropdown Box */
.notification {
  background: var(--white-color);
  width: 300px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 70px;
  left: -140px;
  margin-top: 10px;
  /* Initially hidden */
  display: none;
  z-index: 100;
}
/* Notification items */
.notification .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-bottom: 2px solid #00ab00;
  border-radius: 0px 10px 10px 10px;
}
.item:hover {
  background: #bcfdbd;
}
.notification .item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.notification .item .info {
  flex: 1;
  margin-left: 10px;
}
.notification .item .info h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}
.notification .item .info p {
  margin: 3px 0;
  font-size: 12px;
  color: #4d4d4d;
}
.notification .item .info span {
  font-size: 11px;
  color: #999;
}
.notification .item a {
  text-decoration: none;
  font-size: 12px;
  color: #999;
  font-weight: 500;
  float: right;
}
.dropdown:hover .notification {
  display: block;
}
.dropdown-2 {
  position: relative;
}
.dropdown-content-1 a {
  display: block;
  text-decoration: none;
  color: #00c503;
  font-size: 18px;
  background-color: var(--white-color);
  flex: 1;
  letter-spacing: -0.03em;
  line-height: 28px;
  font-weight: 500;
}
.hamburger {
  display: none;
}
.dropdownbtn {
  background: transparent;
  border: none;
  cursor: pointer;
}
.dropdown-content-1 {
  display: none;
  position: absolute;
  top: 60px;
  right: -5px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 193px;
  height: 124px;
  text-align: right;
}
.link {
  padding: 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
}
.dropdown-content-1 a:hover {
  background-color: #3e8e41;
  color: var(--white-color);
}
.dropdown-2:hover .dropdown-content-1 {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown-content ul {
  display: none;
  width: 100%;
  position: absolute;
  right: 0px;
  top: 2rem;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content ul li {
  list-style-type: none;
}
.dropdown-content li a {
  text-decoration: none;
  color: var(--lighter-green);
  font-size: 18px;
}
.hamburger:hover .dropdown-content ul {
  display: block;
}
.menu a:hover {
  background: #007900; 
  color: var(--white-color);
  width: 100%;
}
.menu {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
}
.service {
  letter-spacing: -0.03em;
  line-height: 28px;
  font-weight: 500;
}
.hamburger img:hover,
.dropdown-content {
  display: block;
}
/* main section */
.first-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding-block: 3rem;
}
.first-image0 img {
  object-fit: cover;
}
.wwd {
  background: var(--white-color);
  height: 224px;
}
.what-we-do h2 {
  font-size: 36px;
  color: #333;
  padding-block: 2rem;
}
.what-we-do {
  text-align: center;
  width: 100%;
}
.what-we-do p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #4d4d4d;
  white-space: wrap;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-content: center;
  max-width: 100%;
padding-block: 4rem;
  padding-bottom: 5rem;
}
.card {
  background: #fff;
  border-radius: 12px;
  text-align: center;
  padding: 20px;
}
.card img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 15px;
}
.card h2 {
  font-size: 30px;
  letter-spacing: -0.03em;
  line-height: 36px;
  display: inline-block;
  margin-bottom: 10px;
}
/* .card p {
  width: 100%;
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 32px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
} */
.found-a-suspicious-container,
.scan-a-barcode,
.we-keep-you, .extra {
  width: 384px;
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 32px;
  font-weight: 500;
  color: #333;
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
}
.card button {
  background: #00c503;
  width: 197px;
  color: white;
  border: none;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
}
.card button a {
  text-decoration: none;
  color: white;
}
.card button:hover {
  background-color: #e5feeb;
  color: #007900 !important;
}
/* Hide extra divs on desktop */
.extra {
  display: none;
}
/* ===== Footer Styling ===== */
.footer {
  max-width: 100%;
  background: var(--main-color);
  height: 100%;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
}
.chevron-right {
  background: #99fcaf;
}
b {
  font-size: 1.4rem;
  color: var(--white-color);
}
.divider {
  width: 90%;
  background-color: #fff;
  height: 1px;
  opacity: 0.1;
  mix-blend-mode: normal;
  margin: 0 auto;
}
.footer-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding-block: 3rem;
}
.newsletter {
  flex-grow: 0.5;
  flex-shrink: 1;
  margin: 1rem;
}
.newsletter p {
  font-size: 20px;
  color: var(--white-color);
}
.input-container {
  background: var(--main-color);
  width: 320px;
  max-width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #4caf50;
  margin-top: 3.4rem;
}
.input-container input {
  width: 100%;
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  color: black;
  font-size: 16px;
}
input::placeholder {
  color: white;
  opacity: 0.9;
}
.btn {
  background: #90ee90;
  border: none;
  padding: 12px 20px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: background 0.3s;
}
.btn:hover {
  background: #76d976;
}
.btn svg {
  width: 16px;
  height: 16px;
  stroke: #025902;
  stroke-width: 2;
  fill: none;
}
.links h4 {
  color: #99fcaf;
  font-size: 18px;
}
.links ul li {
  list-style-type: none;
  margin-top: 1.5rem;
  width: 100%;
  font-size: 16px;
  letter-spacing: -0.03em;
  line-height: 24px;
  color: #fff;
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.links li a {
  text-decoration: none;
  color: var(--white-color) !important;
  font-size: 16px;
  white-space: nowrap;
  margin-inline-end: 10px;
}
.footer-more {
  order: 1;
}
.footer-more {
  order: 2;
}
.footer-services {
  order: 3;
}
.newsletter {
  order: 4;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 5rem;
}
.footer-bottom a {
  color: var(--white-color);
  text-decoration: none;
}
.legal a {
  margin: 20px;
}
.socials a {
  margin: 10px;
}
.copyright {
  text-align: center;
  color: var(--white-color);
  font-size: 20px;
}
@media (max-width: 768px) {
  .nav-btn,
  .dropdown-2,
  .group-item {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .first-image {
    display: none;
  }
  .productVerify__container {
    height: 100%;
  }
  .container {
    grid-template-columns: 1fr;
  }

  .extra {
    display: block; /* show placeholders */
  }
  .divider {
    display: none;
  }
  .footer-links {
    display: block;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    /* display: flex; */
    align-items: flex-start;
    padding-block: 0rem;
  }
  .socials {
    padding-bottom: 1rem;
  }
  .copyright {
    display: flex;
  }
}
