@media (max-width: 500px) {
    .ourteam{
        width: 27rem;
        overflow: hidden;
    }
    
    nav .icon{
        left: 15rem;
    }
    nav .logo{
        left: 20px;
    }
    nav .anime, nav .expand{
        display:  none;
    }
    nav .more{
        display: none;
    }
    nav .menuicon{
        display: block;
        position: absolute;
        top: 20px;
        left: -15px;
    }
    nav .icon .menui{
        display: block;
        width: 40px;
        height: 30px;
    }
    nav .menuicon a{
        text-decoration: none;
        color:  #00c503;
        padding: 10px;
        display: block;
    }
    nav .menuicon a:hover{
        color: #fff;
        background-color:  #00c503;
    }
    nav .menuicon:hover .options{
        display: block;
    }
    nav .notification .dropdown{
        left: -15rem;
        width: 20rem;
        top: 2rem;
    }
    section{
        font-size: 27px;
        height: 22rem;
    }
    section h3{
        margin-block: 2rem;
    }
    section p{
        width: 450px;
        text-align: center;
        margin-right: 2rem;
    }
    .frameparent{
        display: flex;
        flex-direction: column;
        margin-block: 10px;
        padding-block: 10px;
    }
    .frameparent .name, .role{
        display: none;
    }
    .frameparent .frame{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        margin-right: 5rem;
    }
    .frameparent .content{
        display: block;
        max-width: 29rem;
        text-align: center;
    }
    .frameparent .framei img{
    	width: 200px;
	    height: 150px;
        object-fit: contain;
    }
    .frameparent .content .pro{
      font-size: 18px;
      margin-bottom: -15px;
    }
    .frame .content .project-manager{
        font-size: 18px;
        width: 97%;
        margin: auto;
        padding: 20px;
    }
    .frame .handle{
        gap: 2rem;
        width: 85%;
        margin-left: 2.7rem;
        font-size: 18px;
    }
    .frame .handle .info{
       margin-left: 7rem;
    }
    .frame .handle .infoi{
      margin-left: 4rem;
    }
    .frame .handle .infoii{
        margin-left: 5rem;
    }
    .frame:hover .framei img{
        top: 0;
        right: 0;
    }
    footer{
     height: 73rem;
    }
    footer .medlogo{
        left: 1rem;
    }
    footer .medlogo h3{
        font-size: 30px;
        border: none;
    }
    footer .explore{
        display: flex;
        flex-direction: column;
        gap: 2rem
    }
    footer .service{
        order: 1;
    }
    footer .more{
    order: 2;
    } 
    footer .form{
     order: 3;
    } 
    footer .help{
     order: 4;
    } 
    footer .terms{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 20px;
        width: 100%;
    }
    footer .social{
        order: 1;
    }
    footer .condition{
        order: 2;
    }
}
