@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
.history{
     font-family: 'DM Sans', sans-serif;
	 background-color: #fff;
     width: 84rem;
	 height: 90rem;
     overflow-x: hidden;
}
nav .logo{
    position: relative;
    left: 2rem;
	bottom: 3px;
}
nav .logo p{
   position: absolute;
   bottom: 15px;
   left: 4rem;
   font-size: 18px;
}
nav{
    padding-top: 30px;
    display: flex;
    gap: 10rem;
}
nav .more ul{
    list-style: none;
    height: 3rem;
     padding: 10px;
     margin-left: 19rem;
     font-size: 18px;
     display: flex;
	 gap: 1rem;
}
nav ul li a {
    text-decoration: none;
     color: #00c503;
     padding: 15px;
}
nav .more ul li:hover a{
     background-color: #005f00;
    color: white;
    border-radius: 10px;
}
nav .icon{
    position: relative;
    bottom: 20px;
    left: 11rem;
}
nav .icon .notification{
    position: absolute;
    top: 20px;
    left: -60px;
    width: 40px;
}
nav .anime{
    position: absolute;
    top: 0px;
}
nav .icon .menui{
    display: none;
}
nav .icon .expand{
    position: absolute;
    top: 20px;
    left: 5rem;
    width: 100px;
}
nav .expand .dropdowni{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 3rem;
    background-color: #fff;
	border: 2px solid rgb(239, 237, 237);
    position: absolute;
    width: 15rem;
    right: 4rem;
    display: none;
}
nav .expand a{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    color:  #00c503;
    font-size: 20px;
}
nav .expand:hover .dropdowni{
    display: block;
}
nav .expand a:hover{
  color: #fff;
  background-color: #00c503;
}
nav .notification .dropdown{
  position: absolute;
  width: 20rem;
  left: -10rem;
  top: 3rem;
  padding: 10px;
   background-color: #fff;
  border: 2px solid rgb(224, 219, 219);
  display: none;
  height: 34rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav .defaultchild{
    position: relative;
    width: 100%;
  	border-radius: 0px 10px 10px 10px;
  	background-color: #fff;
  	border-bottom: 2px solid #00ab00;
    padding: 10px;
}
nav .defaultchild .miss{
    position: absolute;
    bottom: 4rem;
    left: 4rem;
}
nav .defaultchild p span {
    margin-left: 3rem;
}
nav .defaultchild span{
   color: #999;
   margin-left: 3rem;
   margin-bottom: 50px;
}
nav .fake{
    font-size: 12px;
    position: absolute;
    left: 4rem;
    bottom: 2.5rem;
}
nav .defaultchild:hover{
    background-color: #dbeedb;
}
nav .notification:hover .dropdown{
    display: block;
}
nav .menuicon .options{
        min-width: 13rem;
        position: absolute;
        left: -10rem;
        top: 5rem;
        display: none;
}
nav .menuicon .menu{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 20px 10px;
        border: 2px solid rgb(223, 219, 219);
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
}
section{
    margin: 1rem 20px 3rem 3rem;
}
section h2{
	margin-bottom: 2rem;
	text-align: center;
	padding: 10px;
	font-size: 35px;
}
section .stat{
	display: flex;
	gap: 2rem;
    margin-bottom: 3rem;
}
section .stat .card{
	border: 2px solid rgb(243, 238, 238);
	display: flex;
	flex: 1;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 2px 2px 2px #ebe4e4;
}
section #seven-hundred{
    display: none;
}
section #seven-hundred .numberi{
    width: 6rem;
   height: 6rem;
   border-radius: 50%;
   text-align: center;
   color: #000 ;
   padding: 25px;
   margin-left: 10px;
   border-top: 10px solid #f44336;  
   border-right: 10px solid #00ff37;  
   border-bottom: 10px solid #f44336; 
   border-left: 10px solid #f44336;     
}
section .card .number{
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   text-align: center;
   padding: 25px;
   margin-left: 10px;
   color: #00FF37;
   border-top: 10px solid #f44336;  
   border-right: 10px solid #00ff37;  
   border-bottom: 10px solid #f44336; 
   border-left: 10px solid #f44336;     
}
section .cardi{
	margin-left: 10px;
    width: 100%;
}
section .cardi .veri-rep{
    display: flex;
    gap: 5px;
    margin-block: 10px;
    font-size: 12px;
    text-transform: capitalize;
}
section .veri-rep .green{
	color: transparent;
	background-color: rgb(0, 255, 38);
    width: 20px;
    height: 20px;
}
section .veri-rep .red{
	color: transparent;
	background-color: red;
    width: 20px;
    height: 20px;
}
section .statii{
    display: flex;
    gap: 2rem;
}
section .statii table{
    flex: 4;
    border-collapse: collapse;
}
section .statii th{
    background-color: #E0E0E0;
    padding: 20px 5px;
    
}
section .name{
width: 350px;
text-align: start;
}
section .date{
    text-align: end;
}
section .status{
    text-align: start;
}
section .cat{
    text-align: start;
}
section .at{
    text-align: start;
}
section .status span{
    padding: 9px;
    border-radius: 7px;
}
section .cat span{
    margin-left: 12px;
}
section td .count{
    background-color: #FFEACC;
}
section .authen{
    background-color: #007900;
    color: #fff;
}
section .confirm{
    background-color: #00AB00;
    color: #fff;
}
section .fa-ke{
    background-color: #FCC7C3;
}
section .flag{
    background-color: #DA2A1D;
    color: #fff;
}
section .unauthor{
    background-color: #FCC7C3;
}
section .trust{
    background-color: #EEEEEE;
}
section .safe{
    background-color: #E5FEEB;
}
section .verif{
    background-color: #E5FEEB;
}
section .not{
    background-color: #E6E6E6;
}
section .scan{
    background-color: #FEF2D5;
}
section .verified-items{
    background-color: #00C503;
    color: #fff;
}
section .statii td{
    padding-block: 15px;
    border-bottom: 2px solid rgb(77, 73, 73);
}
section .statii .card-two{
     flex: 1;
     height: 12rem;
     border: 2px solid rgb(243, 238, 238);
     border-radius: 20px;
	box-shadow: 2px 2px 2px #ebe4e4;
}
section .card-two .number{
   width: 6rem;
   height: 6rem;
   border-radius: 50%;
   text-align: center;
   padding: 25px;
   margin-left: 5rem;
   border-top: 10px solid #f44336;  
   border-right: 10px solid #00ff37;  
   border-bottom: 10px solid #f44336; 
   border-left: 10px solid #f44336;     
}
section .card-two .cardi{
    padding-left: 5rem;
}
footer{
    background-color: #005f00;
    height: 41rem;
    color: #fff;
}
footer .medlogo{
   position: relative;
   top: 3rem;
   left: 4rem;
   border-bottom: 1px solid rgb(126, 124, 124);
   padding-bottom: 3rem;
   width: 90%;
   margin-bottom: 5rem;
}
footer .medlogo h3{
    position: absolute;
    top: 2px;
    left: 4rem;
    font-size: 35px;
}
footer .explore{
    display: flex;
    gap: 7rem;
    width: 85%;
    margin: auto;
}
footer .subscribe{
     width: 12rem;
     font-size: 20px;
     margin-bottom: 3rem;
}
footer .mail{
    width: 360px;
    border-bottom: 2px solid rgb(95, 89, 89);
    font-size: 20px;
}
footer .mail input{
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}
 footer .service, .more, .help{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}
footer button{
    border: none;
    background-color: #a4fca4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	width: 3rem;
	height: 40px;
}
footer a{
   width: 150px;
   color: #fff;
   text-decoration: none;
}
footer .differ{
    color:  #83fc9d;
}
footer .terms{
    display: flex;
    gap: 32rem;
    padding: 3rem;
    width: 90%;
    margin: auto;
    font-size: 19px;
}
footer .terms .privacy{
    margin-left: 3rem;
}
footer .terms .social a{
    margin-right: 40px;
}
footer .rights{
   margin-top: 50px;
   text-align: center;
   font-size: 25px;
}